<div *ngIf="selectedItem">
  <div id="btn-wrapper">
    <button (click)="openDialog()" class="btn-secondary">add to album +</button>
    <a
      class="btn btn-primary"
      href="{{ selectedItem.url }}"
      download="image.jpeg"
      >download</a
    >
  </div>

  <div id="img-wrapper">
    <img src="{{ selectedItem.url }}" />
  </div>

  <div id="text-wrapper">
    <p class="bold">uploaded by</p>
    <h1>{{ selectedItem.author }}</h1>
    <p class="text-secondary">29th November 2021</p>
    <button id="btn-back" class="btn-secondary" routerLink="/dashboard">
      go back
    </button>
  </div>
</div>

<app-info-message
  *ngIf="showSuccessMessage"
  message="This is a success message!"
></app-info-message>
