@import url(/src/assets/styles/theming.less);
@import url(/src/assets/styles/screens.less);

.nav {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: @color-accent;
  color: @color-white;
}
.text-centered {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-right {
  position: absolute;
  right: 20%;
  @media @phone {
    right: 2%;
  }
}

button {
  @media @phone {
    width: 100px;
  }
}
