<div class="nav">
  <div class="text-centered">
    <h2>valstock</h2>
  </div>
  <div *ngIf="loggedIn && albums.length > 0" class="text-right">
    <!-- TODO: add dropdown component -->
    <button
      id="album-dropdown"
      (click)="showDropdown = !showDropdown"
      class="btn-primary"
    >
      my albums
    </button>
    <div *ngIf="showDropdown" class="dropdown-content">
      <button
        *ngFor="let album of albums; let i = index"
        (click)="goToAlbum(i)"
      >
        {{ album.name }}
      </button>
    </div>
  </div>
</div>
