@import url(/src/assets/styles/theming.less);
@import url(/src/assets/styles/screens.less);

:host {
  text-align: center;
}

#img-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  img {
    width: 400px;
    @media @phone {
      width: 300px;
    }
  }
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: @color-accent;
  height: 150px;
  width: 100%;
}

form {
  margin-top: 50px;
}

label {
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
}

input {
  display: block;
  border: solid 2px @color-accent;
  padding: 7px 4px;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 40px;
  @media @phone {
    width: 80%;
    margin-left: 10%;
  }
}

button {
  background-color: @color-accent;
  color: @color-white;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  padding: 5px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
