@import url(/src/assets/styles/theming.less);
@import url(/src/assets/styles/screens.less);

:host {
  width: 80%;
  @media @phone {
    width: 100%;
  }
}

.img-text {
  background-color: @color-accent;
}
