<div *ngIf="album">
  <div id="text-wrapper">
    <h1>{{ album.name }}</h1>
    <p class="text-secondary">
      Date created: {{ album.dateCreated | date: "dd MMMM yyyy" }}
    </p>
  </div>

  <div id="grid">
    <div class="img-wrapper" *ngFor="let item of album.items">
      <img src="{{ item.url }}" alt="item" />

      <div class="img-text">
        <button (click)="removeItem(item.id)">remove</button>
      </div>
    </div>
  </div>

  <div id="btn-wrapper">
    <button class="btn-secondary" routerLink="/dashboard">go back</button>
    <button class="btn-primary">save</button>
  </div>
</div>
