@import url(theming.less);

body {
  font-family: adobe-clean, sans-serif;
  font-size: 14px;
  color: @color-accent;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

button {
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 5px;
  width: 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  &:hover {
    cursor: pointer;
  }
}

.btn-primary {
  background-color: @color-accent;
  color: @color-white;
  border: 2px solid @color-white;
  &:hover {
    background-color: @color-white;
    color: @color-accent;
    border: 2px solid @color-accent;
  }
}

.btn-secondary {
  background-color: @color-white;
  color: @color-accent;
  border: 2px solid @color-accent;
  &:hover {
    background-color: @color-accent;
    color: @color-white;
    border: 2px solid @color-white;
  }
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.text-secondary {
  color: @color-gray;
}

#grid {
  column-count: 3;
  column-gap: 30px;
  column-width: 30%;

  .img-wrapper {
    margin-bottom: 15px;
    position: relative;

    &:hover {
      cursor: pointer;
      .img-text {
        visibility: visible;
      }
    }

    img {
      width: 100%;
    }

    .img-text {
      display: table;
      text-align: center;
      height: 50px;
      width: 100%;
      text-transform: uppercase;
      color: @color-white;
      position: absolute;
      bottom: 0;
      visibility: hidden;

      p {
        display: table-cell;
        vertical-align: middle;
        font-weight: bold;
        font-size: 12px;
      }
    }
  }
}